* {
  margin: 0;
  padding: 0;
}

.container{
  margin-top: 10rem;
  text-align: center;
    margin-top: 180px;
    font-size: 2.7rem;
    font-weight: 800;
    font-family: 'Cinzel', serif;
    /* Ancient & majestic look */


    /* color: #f9d923;  */
    /* background: linear-gradient(135deg, #f9d923, #f0c000, #d4af37, #fff8dc); */
    color: #f8d146;
    /* Gold base */
    text-shadow:
        1px 1px 0 #000,
        2px 2px 0 #333,
        3px 3px 1px #8e2de2,
        4px 4px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;



    background-clip: text;
    /* -webkit-background-clip: text; */
    /* color: transparent; */

    text-shadow:
        1px 1px 0 #b8860b,
        2px 2px 3px rgba(255, 215, 0, 0.4),
        4px 4px 6px rgba(139, 69, 19, 0.3);

    animation: goldRise 1s ease-out;
}
/* 

.main .emoji{
 text-align: center;
 font-size: 3rem;
}
.main h1 {
  text-align: center;
  margin-top: 180px;
  font-size: 2.7rem;
  font-weight: 800;
  font-family: 'Cinzel', serif; 

 
   color: #f8d146; 
  text-shadow:
    1px 1px 0 #000,
    2px 2px 0 #333,
    3px 3px 1px #8e2de2,
    4px 4px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;



  background-clip: text;


  text-shadow:
    1px 1px 0 #b8860b,
    2px 2px 3px rgba(255, 215, 0, 0.4),
    4px 4px 6px rgba(139, 69, 19, 0.3);

  animation: goldRise 1s ease-out;
}


@keyframes goldRise {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
    text-shadow: none;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}





@media (max-width: 768px){
  .main h1{
    font-size: 2rem;
  }
} */
